@import url('https://fonts.googleapis.com/css?family=Source+Serif+Pro:400,600,700');

body {
  font-size: 170%;
  font-family: 'Source Serif Pro', serif;
  text-align: center;
  align: center;
  background-color: white;
  color: black;
  width: 100%;
}

.step {
  width: 1000px;
  overflow: visible;
}

p {
  font-weight: normal;
  margin-bottom: 0.3em;
  margin-top: 0.3em;
  text-align: left;
}

pre {
  text-align: left;
}

h1, h2, h3, h4 {
  font-weight: normal;
  margin-bottom: 0.3em;
  margin-top: 0.3em;
}

tt {
  font-size: 125;
}

ul {
  list-style-position: inside;
}

li {
  font-weight: normal;
  margin-bottom: 0.3em;
  margin-top: 0.3em;
  padding-left: 0.3em;
  line-height: 1.8em;
  text-align: left;
}

a {
  text-decoration: none;
  color: black;
}

.hidden {
  display: none;
}

.header img {
  opacity: 0.2;
  width: 25%;
  position: absolute;
  left: 0;
}

.footer {
  position: absolute;
  top: 95%;
  font-size: 50%;
}

#title ul {
  width: 100%;
  position: fixed;
  top: 170%;
  right: 30px;
  list-style-type: none;
  display: grid;
  grid-template-columns: auto auto;
  font-size: 20  px;
  text-align: right;
}

#title li {
  display: list-item;
  text-align: right;
  line-height: 100%;
  margin: 0;
  padding: 0;
}

#perkins p+p, #herle-letter p+p, #herle-fair p+p {
  font-size: smaller;
/*   text-align: left; */
  margin-left: 1em;
}

#wisc p, #perkins p {
  text-align: center;
}

#wisc-det1 p, #wisc-det2 p, #perkins-det p {
  text-align: right;
}

#herle-letter p {
  text-align: center;
}

#herle-fair p {
  text-align: center;
}

#rainbow p {
  text-align: center;
}
#herle-exacte-book.step {
  width: 900px;
}

#herle-exacte-book ul, #herle-exacte-book-2 ul {
  list-style-type: none;
  float: right;
}

#timeline ul, #timeline2 ul {
  list-style-type: none;
  display: grid;
  grid-template-columns: max-content 40px auto;
}

#what ul, #what.step {
  background-color: black;
  width: 1600px;
  height: 1600px;
  
}